
.listTable {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.listRow {
  display: flex;  /* aligns all child elements (flex items) in a row */
  border-bottom: 1px dashed #e2e2e2;
  max-width: 100%;
  cursor: pointer;
}

.listRow:hover {
  background-color: #e2e2e2;
}

.listCol {
  flex: 1;        /* distributes space on the line equally among items */
  padding: 10px;
}