.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.flexContainer > div {
    border-radius: 2px;
    border: 1px solid #c7c5c5;
    background-color: white;
    min-width: 190px;
    margin: 5px;
    padding: 5px 20px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}

.flexContainer > div:hover {
    background-color: #c7c5c5;
    transition-duration: 0.4s;
}

.flexContainerInner {
    display: flex;
    flex-wrap: wrap;
}

.flexContainerInner > div {
    margin-left: 5px;
}

.folderIcon {
    width: 20px;
    height: 20px;
}
