.pell {
  border: 1px solid rgba(10, 10, 10, 0.1);
  box-sizing: border-box; }

.pellContent {
  box-sizing: border-box;
  min-height: 100px;
  outline: 0;
  overflow-y: auto;
  padding: 10px; }

.pellActionbar {
  background-color: #FFF;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1); }

.pellButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 30px;
  vertical-align: bottom; }

.pellButtonSelected {
  background-color: #F0F0F0; }
